<h1>Gestion des Salles</h1>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Capacité</th>
            <th>Site</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.nom }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.site.nom }}</td>
                <td>
                    <a href="{% url 'update_room' room.id %}">Modifier</a> |
                    <a href="{% url 'delete_room' room.id %}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
