{% load static%}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservation de Box</title>
    <link rel="stylesheet" href="{% static 'etudiant/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'etudiant/logo.png' %}" alt="Logo" class="logo">
        <h1>Réservation de Box</h1>
        <nav>
            <ul>
                <li><a href="https://reserver-groupe.parisnanterre.fr/Reservationsalles/page2.aspx?id_site=2&dte=22%2f12%2f2024&heure_d=08%3a30%3a00&heure_f=19%3a45%3a00" 
                            class="btn-nav"
                            target="_blank" 
                            rel="noopener noreferrer">Disponibilités</a></li>
                        <li><a href="#reservation" class="btn-nav">Réserver</a></li>
                        <li><a href="#historique.html" class="btn-nav">Historique</a></li>
                        <li><a href="{% url 'login' %}" class="btn-nav">Connexion</a></li>

            
            
                
            </ul>
        </nav>
    </header>
    <main>
        <section id="disponibilites">
            <h2>Consulter les disponibilités</h2>
            <div id="slots"></div>
        </section>
        <section id="reservation">
            <h2>Faire une réservation</h2>
            <form id="reservation-form">
                <label for="box">Choisissez une box :</label>
                <select id="box" name="box">
                    <option value="box1">Box 1</option>
                    <option value="box2">Box 2</option>
                </select>
                <label for="date">Date :</label>
                <input type="date" id="date" name="date">
                <label for="time">Heure :</label>
                <input type="time" id="time" name="time">
                <button type="submit">Réserver</button>
            </form>
        </section>
    </main>
    <footer>
        <p>© 2024 - Application de Réservation de Box</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
