{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réserver une salle</title>
    <link rel="stylesheet" href="{% static 'reservation/style.css' %}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const today = new Date();
            const yyyy = today.getFullYear();
            const mm = String(today.getMonth() + 1).padStart(2, '0'); // Mois au format "MM"
            const dd = String(today.getDate()).padStart(2, '0'); // Jour au format "DD"
            const limitDate = new Date(today.getFullYear(), 6, 19);
            
            // Initialiser Flatpickr
            flatpickr("#reservation-date", {
                minDate: `${yyyy}-${mm}-${dd}`, // La date minimale sera aujourd'hui
                disable: [
                    function(date) {
                        return date.getDay() === 0 || date.getDay() === 6|| date > limitDate;
                    }
                ],
                dateFormat: "d-m-Y", 
            });


        });
    </script>
</head>
<body>
    {% for box in boxes %}
    <h1>Réserver la salle : {{ box.name }}</h1>
    
    
    <form action="{% url 'reserve_box' box.id %}" method="POST">
        {% csrf_token %}
        <label for="reservation-date">Choisissez une date :</label>
        <input type="text" id="reservation-date" name="date" required>
        
        <label for="slot">Choisissez une tranche horaire :</label>
        <select id="slot" name="slot" required>
            {% for slot in available_slots %}
            <option value="{{ slot }}">{{ slot|date:"H:i" }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Réserver</button>
        <a href="{% url 'reserve_box' box.id %}">Réserver cette box</a>
    </form>
    
    {% endfor %}
</body>
</html>
