<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gérer les Réservations</title>
</head>
<body>
    <h1>Gestion des Réservations</h1>
    <a href="{% url 'admin_dashboard' %}">Retour au tableau de bord</a>
    <ul>
        {% for reservation in reservations %}
            <li>
                Salle : {{ reservation.room.name }} - Réservé par : {{ reservation.user.username }} - Date : {{ reservation.date }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
