/* Mise en page globale */
html, body {
    height: 100%; /* Assurez-vous que html et body couvrent toute la hauteur de la fenêtre */
    margin: 0; /* Enlevez les marges par défaut */
    padding: 0; /* Enlevez les espacements par défaut */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('photo_bu.png');
    background-size: cover; /* L'image couvre toute la fenêtre */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image */
    color: white; /* Définit la couleur du texte en blanc */
    height: 100vh; /* Utilise 100% de la hauteur de la fenêtre visible (viewport height) */
    display: flex; /* Utilise flexbox pour s'assurer que le contenu est bien centré */
    flex-direction: column; /* Aligne les éléments du haut vers le bas */
    justify-content: center; /* Centre verticalement */
}

/* Container principal */
.container {
    position: relative;
    z-index: 5; /* Assurez-vous que la partie visible du contenu est au-dessus de l'image */
}

header {
    display: flex;
    position: fixed; /* Fixe le header en haut */
    top: 0; /* Positionne le header au sommet */
    left: 0;
    right: 0;
    margin: 0;
    background-color: white; /* Couleur de fond du header en blanc */
    justify-content: space-between;
    align-items: center;
    color: black; /* Texte du header en noir */
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre sous le header */
    height: 10%; /* Augmente la hauteur du header */
    padding: 10px; /* Padding pour aérer le header */
}

header div {
    display: flex;
    align-items: center;
    padding-right: 5%;
}

header div img {
    padding-left: 6%;
    margin-right: 10px;
}

/* Styles pour le titre et sous-titre */
h1 {
    margin: 100px 0 20px 0; /* Espace supplémentaire en haut pour que le header ne cache pas le texte */
    font-size: 2.5rem; /* Taille du titre */
}

h2 {
    font-size: 1.5rem; /* Taille du sous-titre */
    margin-bottom: 20px;
}

/* Formulaire et éléments associés */
form {
    margin: 20px 0;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


/* Styles pour le logo */
.brand-logo {
    text-decoration: none; 
    color: black; 
    display: flex; 
    align-items: center; 
}

.brand-logo img {
    margin-right: 10px; 
    width: 25%;
}

/* Apparence du bouton de recherche */
button {
    margin-top: 20px;
    background-color: #f53c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #da2222; /* Changement de couleur au survol */
}

/*******************************/
.select-container {
    position: relative; /* Positionnement pour gérer l'icône */
    display: inline-block;
    width: 100%; /* Largeur du conteneur */
  }
  
  .transparent-select {
    -webkit-appearance: none; /* Supprime le style par défaut */
    -moz-appearance: none;
    appearance: none;
    background: transparent; /* Fond transparent */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
    color: white; /* Couleur du texte */
    font-size: 16px; /* Taille de la police */
    padding: 10px; /* Espacement interne */
    padding-right: 40px; /* Place pour l'icône */
    width: 100%; /* Largeur complète */
    box-sizing: border-box;
  }
  
  .material-symbols-outlined {
    position: absolute;
    top: 50%;
    right: 10px; /* Positionnement à droite */
    transform: translateY(-50%); /* Centrage vertical */
    font-size: 24px; /* Taille de l'icône */
    color: white; /* Couleur de l'icône */
    pointer-events: none; /* L'icône n'intercepte pas les clics */
  }

/****************************/

/* Modifier la couleur du texte des options */
.select-wrapper input.select-dropdown {
    color: rgb(255, 241, 241) !important; /* Texte blanc pour le champ sélectionné */
}

/* Modifier la couleur du texte des options */
.select-wrapper ul li {
    color: rgb(255, 247, 247) !important; /* Texte blanc pour les options dans le menu déroulant */
}

/* Modifier la couleur du fond du select au focus et survol */
.select-wrapper input.select-dropdown:focus,
.select-wrapper input.select-dropdown.active {
    border-bottom: 1px solid #d32f2f !important; /* Bordure rouge lors du focus */
    box-shadow: 0 1px 0 0 #d32f2f !important; /* Ombre rouge lors du focus */
}

/* Modifier la couleur du fond du select au survol */
.select-wrapper input.select-dropdown:hover {
    border-bottom: 1px solid #d32f2f !important; /* Bordure rouge lors du survol */
}
.select-container:hover .material-symbols-outlined {
    color:  #d32f2f !important;
  }


#reservation-date{
    color: rgb(255, 255, 255);
  }

.flatpickr-input {
    color: white !important; /* S'assurer que le texte de la date est blanc */
}

