html, body {
    height: 100%; /* Assurez-vous que html et body couvrent toute la hauteur de la fenêtre */
    margin: 0; /* Enlevez les marges par défaut */
    padding: 0; /* Enlevez les espacements par défaut */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('photo_bu.png');
    background-size: cover; /* L'image couvre toute la fenêtre */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image */
    color: white; /* Définit la couleur du texte en blanc */
    height: 100vh; /* Utilise 100% de la hauteur de la fenêtre visible (viewport height) */
    display: flex; /* Utilise flexbox pour s'assurer que le contenu est bien centré */
    flex-direction: column; /* Aligne les éléments du haut vers le bas */
    justify-content: center; /* Centre verticalement */
}

.container {
    position: relative;
    z-index: 5; /* Assurez-vous que la partie visible du contenu est au-dessus de l'image */
}

header {
    display: flex;
    position: fixed; /* Fixe le header en haut */
    top: 0; /* Positionne le header au sommet */
    left: 0;
    right: 0;
    margin: 0;
    background-color: white; /* Couleur de fond du header en blanc */
    justify-content: space-between;
    align-items: center;
    color: black; /* Texte du header en noir */
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre sous le header */
    height: 10%; /* Augmente la hauteur du header */
}


header div {
    display: flex;
    align-items: center;
    padding-right: 5%;
}

header div img {
    padding-left: 6%;
    margin-right: 10px;
}

h1 {
    margin: 100px 0 20px 0; /* Espace supplémentaire en haut pour que le header ne cache pas le texte */
    font-size: 2.5rem; /* Taille du titre */
}

h2 {
    font-size: 1.5rem; /* Taille du sous-titre */
    margin-bottom: 20px;
}

form {
    margin: 20px 0;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #ffffff; /* Vert pour le bouton */
    color: rgb(19, 19, 19);
    cursor: pointer;
}

button:hover {
    background-color: #d6d6d6; /* Changement de couleur au survol */
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-links div {
    margin: 0 20px;
    text-align: center;
}

.footer-links img {
    width: 40px;
    height: 40px;
}

.footer-links p {
    color: white; /* Texte des liens du footer en blanc */
}

/* Logo dans le header */
.logo {
    width: 30%; /* Largeur du logo ajustée */
    height: auto;
}

/* Spécifique aux éléments select (comme les sites) */
select {
    -webkit-appearance: none; /* Supprime le style par défaut du select pour le rendre plus uniforme */
    -moz-appearance: none; /* Idem pour Firefox */
    appearance: none; /* Empêche les styles par défaut du select */
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Circle-icons-arrow-down.svg/32px-Circle-icons-arrow-down.svg.png') no-repeat scroll right center;
    background-size: 15px;
    font-size: 16px; /* Taille de la police dans le select */
    padding: 10px; /* Padding interne, pour agrandir le champ */
    width: 20%; /* S'assure que le select prend toute la largeur du conteneur */
    border-radius: 5px; /* Coins arrondis pour un style plus moderne */
    border: 1px solid #ccc; /* Bordure fine autour du select */
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;

}

select option{
    color: rgb(0, 0, 0);
    background-color: #ffffff;

    
}

